Build/

Util/alcommon/include

# Util/boost/  # TODO FIX VINCENZO

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!crtbeginS.o
!crtendS.o
!crti.o
!crtn.o
!crt1.o
!crtbegin.o
!crtend.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
!*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib

# Executables
*.exe
*.out
*.app

# Naoqi-sdk
Install/naoqi-sdk-2.8.5.10-linux64.tar.gz

!libode.a
!libc_nonshared.a
!libsnappy.a
!libgsl.a
!libgslcblas.a
!libjpeg-atom.a
!libjpeg.a
!libjpeg-x64.a
!libpthread_nonshared.a

*.config
*.creator
*.creator.user
*.files
*.includes


!.gitignore
*~
\#*\#
.\#
*.backup
*.bak
*.pyc
*.kdev4
*.projectile
*.iml
GPATH
GRTAGS
GTAGS
tags
Thumbs.db
Build

Config/Logs
Config/Scenes/Includes/connect.con
Config/Scenes/Includes/replay.con
Config/Scenarios/Default/logger.cfg
Make/Hooks/gitpath
Make/Linux/compile_commands.json
Make/Linux/Nao-objects.tmp
Make/Linux/libbhuman-objects.tmp
Make/Linux/libgamectrl-objects.tmp
Make/LinuxCodeLite/*.project
Make/LinuxCodeLite/*.tags
Make/LinuxCodeLite/*.workspace*
Make/LinuxNetBeans/B-Human/*/
Make/VS20*/.vs
Make/VS20*/*.sln
Make/VS20*/*.vcxproj
Make/VS20*/*.vcxproj.filters
Make/macOS/B-Human.xcodeproj/project.pbxproj
Make/macOS/B-Human.xcodeproj/project.xcworkspace
Make/macOS/B-Human.xcodeproj/xcuserdata
Make/macOS/copyfiles-options.txt
Make/NetBeans/*/
Util/Buildchain/macOS/lib
Util/GameController/Config/TCM.cfg
Util/GameController/error.txt
Util/GameController/logs/
Util/GameController/logs_teamcomm/
Util/Proto/*.class
Util/Proto/*.ctxt
Util/SimRobot/Make/VS20*/.vs
Util/SimRobot/Make/VS20*/*.sln
Util/SimRobot/Make/VS20*/*.vcxproj
Util/SimRobot/Make/VS20*/*.vcxproj.filters

Util/alcommon/lib/linux/libalcommon.so
Util/alcommon/lib/linux/libboost_chrono.so.1.59.0
Util/alcommon/lib/linux/libboost_thread.so.1.59.0
Util/alcommon/lib/linux/libboost_program_options.so.1.59.0
Util/alcommon/lib/linux/libboost_filesystem.so.1.59.0
Util/alcommon/lib/linux/libboost_locale.so.1.59.0
Util/alcommon/lib/linux/libboost_regex.so.1.59.0

